registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@typescript-eslint:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@tailwindcss:registry=https://registry.npmjs.org/
@img:registry=https://registry.npmjs.org/
@next:registry=https://registry.npmjs.org/
@swc:registry=https://registry.npmjs.org/
@humanwhocodes:registry=https://registry.npmjs.org/
@humanfs:registry=https://registry.npmjs.org/
@rushstack:registry=https://registry.npmjs.org/
@eslint-community:registry=https://registry.npmjs.org/
@rtsao:registry=https://registry.npmjs.org/
@nolyfill:registry=https://registry.npmjs.org/
always-auth=false
fund=false
legacy-peer-deps=true 